<nav id="footer" class="uk-navbar uk-margin-large-top">
    <div class="uk-navbar-content uk-text-small uk-text-muted" id="copy">
        &copy; 2017 CSA Hof Pente GbR
    </div>
    <ul class="uk-navbar-nav uk-navbar-flip" id="footernav">
        <li>
            <a href="{{ path('page', {'page': 'impressum-und-datenschutz'}) }}">
                Impressum &amp; Datenschutz
            </a>
        </li>
    </ul>
</nav>