{% extends 'base.html.twig' %}

{% block body %}
    {% include 'homepage/navbar.html.twig' %}

    <div id="header" class="uk-cover-background small" style="background: url('/assets/img/headers/geschichte.jpg');"></div>

    <ul class="uk-breadcrumb uk-text-center uk-text-muted" data-uk-sticky="{top:50}">
        <li><a href="{{ path('homepage') }}"><i class="uk-icon-home"></i></a></li>
        <li class="uk-active"><span>Geschichte und Betriebsspiegel</span></li>
    </ul>

    <div class="uk-container uk-container-center uk-margin-large-top">
        <h1 class="uk-text-center">Geschichte und Betriebsspiegel</h1>

        <h2>Geschichte</h2>
        <div class="uk-clearfix uk-column-medium-1-2 uk-column-large-1-3">
            <p>Der Hof Hartkemeyer liegt am Südhang der Penter Egge, dem letzten Ausläufer des Wiehengebirges. Weiter im Tal fließt der Mühlenbach, der in die Hase, dann in die Ems und die Nordsee mündet.</p>
            <p>Westlich des Hofes liegt die B68, früher „Oldenburger Heerstraße“ genannt. Sie bildete die Hauptachse des Verkehrs zwischen dem Ruhrgebiet, Münster, Osnabrück, Oldenburg, Bremen….Skandinavien.</p>
            <p>Vorgeschichtliche Siedlungsspuren in Form von Hügelgräbern zeigen, dass die Gegend schon seit Jahrtausenden bewohnt ist.</p>
            <p>Der Plaggenesch in Richtung Süden gibt Zeugnis von einer jahrhundertealten landwirtschaftlichen Kultivierung.</p>
            <p>Die Geschichte des Hofes geht auf eine lange Generationenreihe zurück. Die Lesesteinfundamente des alten Dreschhauses sind möglicherweise schon vor mehr als 800 Jahren gesetzt worden. Ein eingemauerter Balken trägt die Jahreszahl 1565. Der Hof war historisch nicht groß, sondern diente der Ernährung der Familie. Die Familie hatte die Nebenrolle des Waldhüters und ihr unterlag möglicherweise in alten Zeiten die Beobachtung der Straße. In den kriegerischen Zeiten des Mittelalters wurden von hier wohl auch Truppenbewegungen oder Plünderungen gemeldet. Auf die Verteidigungsfunktion läßt eine alte Waffentruhe für Hieb- und Stichwaffen schließen. Auch die Zugehörigkeit zur bischöflichen Tafel des Bischof von Osnabrück wurde in alten Schriften erwähnt. Ein Dokument von 1726 verweist auf die Befürchtung eines Vorfahren, dass bei einem vermuteten Kohlefund angesichts eines Brunnenbaus der Bischof von Osnabrück das Land beschlagnahmen könnte.</p>
            <p>In den letzten Jahrhunderten starb dreimal die männliche Linie der Hartkemeyers aus. Da aber früher der Hofname entscheidend für die Zugehörigkeit der Menschen war, nahmen jeweils die eingeheirateten Männer den Namen ihrer Frau und damit des Hofes an.</p>
            <p>Vor sozialen Krisen der Zeit war auch der Hof nicht gefeit. Um 1850 machten sich daher drei Hartkemeyer Brüder auf den Weg in die Vereinigten Staaten von Amerika. Fehlende Telefon und E-Mail Verbindungen führten damals dazu, dass der Kontakt sporadisch blieb und bald endete. Erst in den 80er Jahren wurde die Verbindung zu den Nachfahren jenseits des „großen Teiches“  aufgenommen.</p>
            <p>Nach dem 2. Weltkrieg fand ein einschneidender Umbruch in der Landwirtschaft statt. Durch die europäische Agrarpolitik, die die Industrialisierung der Landwirtschaft umsetzte, wurden die Preise für Nahrungsmittel permanent gesenkt. Kostete 1956 noch ein Zentner (50kg) Weizen etwa 26 DM, kostete er mit etwa 13 € heute nur noch ein Viertel. Betrachtet man hingegen die Entwicklung der Stundenlöhne des Handwerkers von etwa 0,50 € Anfang der 50er  Jahre auf heute etwa 30 € und mehr, so wird die massive Entwertung der landwirtschaftlichen Erzeugnisse deutlich. Das hat sich bis heute nicht geändert: Täglich sterben in Deutschland mehr als 50 landwirtschaftliche Betriebe.</p>
            <h3>Technische Entwicklung</h3>
            <p>Technisch erfolgte in den 50er Jahren eine Revolution. Bis 1958 wurde die Landwirtschaft auf Hof Hartkemeyer wie seit vielen Jahrhunderten mit Pferdekraft betrieben, also mit 100 % regenerativer Energie. 1959 wurde der erste Traktor, ein IHC D324 , beschafft. Motorenlärm, Abgase und Ölverbrauch drangen in die ökologische Idylle ein. Aber er erleichterte die Arbeit. Statt tagelangem Fußmarsch hinter pferdegezogenen Maschinen saß man nun auf dem Schlepper. Allerdings führten die frühen Schleppersitze bei vielen Landwirten zu massiven Wirbelsäulenschäden.</p>
            <h3>Chemische Gifte</h3>
            <p>Die Rationalisierung und Spezialisierung nahm wegen des Preisverfalls stärker zu. Die Kuhhaltung wurde in den 60er Jahren aufgegeben. Statt 50 Hühnern wurden etwa 2500 Hühner mit Auslauf gehalten. Aber das war aufgrund der nahen Südoldenburger Massentierhaltung bald keine konkurrenzfähige Größe mehr.</p>
            <p>Etwa 300 Mastschweine bildeten das ökonomische Rückgrat, bis diese in den 90er Jahren ebenfalls aufgegeben werden mußten. Brotgetreide blieb der Anbauschwerpunkt.</p>
            <p>Als wir feststellten, das das 2-4-5 T Herbizid, das wir auf Rat der landwirtschaftlichen Presse und  aufgrund offizieller Beratung einsetzten, vom US-Militär im Vietnamkrieg als Agent Orange zur Entlaubung  ganzer Wälder und Landstriche verwendet worden war, begann ein Umdenken. Die Umstellung der Landwirtschaft auf den ökologischen Anbau war die Folge.</p>

            <p>Schritt für Schritt werden auf dem Hof Projekte eingerichtet, die der Gesundung von Mensch, Tier, Pflanze, Boden und Lebensmitteln dienen sollen. Die Verantwortung für die Lebensgrundlage auf diesem Stück Land wollen wir durch unseren CSA-Ansatz mit vielen Interessierten gemeinsam tragen.</p>
        </div>

        <h2>Betriebsspiegel</h2>
        <div class="uk-clearfix uk-column-medium-1-2">
            <p>56 ha, Biohof seit 1988 Bioland-Betrieb, seit 2008 Demeter, 3 ha Gartenbau , 3 Gewächshäuser (1.000 qm), 35 ha Ackerbau, 5 ha Weide, Streuobstwiesen, 10 ha Waldbau, Bienenhaltung, Mutterkuhhaltung (Fleischrinder), Schafe, 50 Schweine, 260 Hühner, in unserem Hofgemeinschaftsprojekt sind neben den drei Hoffamilien samt Kindern noch zwei Gesellen, eine Hilfskraft, drei Lehrlinge (Gartenbau & Landwirtschaft), Erzieherinnen und Tagesmütter & eine Auszubildende Erzieherin (in der Bauernhof KiTa), Praktikanten und freiwillige CSA Mitglieder tätig.</p>
        </div>

        <h3>Zertifikate</h3>
        <div class="uk-clearfix">
            <p>Die Hof Pente GbR ist Mitglied bei Demeter. Das bedeutet, das wir pro Jahr zwei Betriebskontrollen durchlaufen. Wer mehr über die Erzeugungsrichtlinien für die Anerkennung der Demeter-Qualität wissen will, kann auf der Seite des <a href="https://www.demeter.de/" target="_blank">Demeter e.V.</a> alles nachlesen.</p>
        </div>
    </div>

    {% include 'homepage/footer.html.twig' %}
{% endblock %}