{% extends 'base.html.twig' %}

{% block body %}
    {% include 'homepage/navbar.html.twig' %}

    <div id="header" class="uk-cover-background small" style="background-image: url('/assets/img/headers/default.jpg');"></div>

    <ul class="uk-breadcrumb uk-text-center uk-text-muted">
        <li><a href="{{ path('homepage') }}"><i class="uk-icon-home"></i></a></li>
        <li class="uk-active"><span>Impressum</span></li>
    </ul>

    <div class="uk-container uk-container-center uk-margin-large-top">
        <h1 class="uk-text-center">Impressum</h1>
        <p class="uk-text-large">
            <b>CSA Hof Pente GbR</b><br>
            Dr. Tobias Hartkemeyer<br>
            Osnabrücker Straße 73<br>
            49565 Bramsche<br>
            <br>
            Tel.: +49 (0) 5407 85 85 23<br>
            Fax: +49 (0) 5407 8984518<br>
            <br>
            Hinweis: Für Inhalt und Aussage aller von uns verlinkten Webseiten sind wir nicht verantwortlich und haben auch keinen Einfluss darauf.
        </p>
    </div>

    {% include 'homepage/footer.html.twig' %}
{% endblock %}