<nav id="navbar" class="uk-navbar" data-uk-sticky>
    <ul class="uk-navbar-nav uk-visible-small">
        <li class="uk-active uk-parent" data-uk-dropdown>
            <a href="#" style="cursor: pointer;">
                <i class="uk-icon-bars"></i>
            </a>
            <div class="uk-dropdown uk-dropdown-small uk-dropdown-navbar">
                <ul class="uk-nav">
                    <li>
                        <a href="{{ path('homepage') }}">
                            Hof Pente
                        </a>
                    </li>
                    <li>
                        <a href="//csa.hofpente.local">
                            CSA
                        </a>
                    </li>
                    <li>
                        <a href="//bildung.hofpente.local">
                            Bildung
                        </a>
                    </li>
                    <li>
                        <a href="//blog.hofpente.local">
                            Blog &amp; Medien
                        </a>
                    </li>
                    <li>
                        <a href="">
                            Termine
                        </a>
                    </li>
                </ul>
            </div>
        </li>
    </ul>
    <ul class="uk-navbar-nav uk-hidden-small">
        <li class="uk-active">
            <a href="{{ path('homepage') }}">
                Hof Pente
            </a>
        </li>
        <li>
            <a href="//csa.hofpente.local">
                CSA
            </a>
        </li>
        <li>
            <a href="//bildung.hofpente.local">
                Bildung
            </a>
        </li>
        <li>
            <a href="//blog.hofpente.local">
                Blog &amp; Medien
            </a>
        </li>
        <li>
            <a href="">
                Termine
            </a>
        </li>
    </ul>
    <ul class="uk-navbar-nav uk-navbar-flip">
        <li class="youtube" data-uk-tooltip title="YouTube">
            <a href="https://www.youtube.com/channel/UChUMp5liXuh0qZkKzL6zBdA" target="_blank">
                <i class="uk-icon-youtube-play"></i>
            </a>
        </li>
        <li class="rss" data-uk-tooltip title="RSS-Feed">
            <a href="">
                <i class="uk-icon-rss"></i>
            </a>
        </li>
        <li class="facebook" data-uk-tooltip title="Facebook">
            <a href="https://www.facebook.com/CSA-Hof-Pente-212166685493372/" target="_blank">
                <i class="uk-icon-facebook"></i>
            </a>
        </li>
        <li>
            <a href="{{ path('member') }}">
                <i class="uk-icon-users"></i>
                <span class="uk-hidden-small uk-hidden-medium">Mitglieder-Bereich</span>
            </a>
        </li>

    </ul>
    <div class="uk-navbar-content uk-navbar-center uk-hidden-small uk-hidden-medium brand">
        <span>CSA Hof Pente</span>
    </div>
</nav>