<ul class="uk-subnav uk-subnav-pill uk-flex uk-flex-center uk-margin-top">
    <li>
        <a href="">
            Mitglied werden
        </a>
    </li>
    <li>
        <a href="">
            Finanzierung
        </a>
    </li>
    <li>
        <a href="">
            Die Lebensmittel
        </a>
    </li>
    <li>
        <a href="">
            Abholung und Depots
        </a>
    </li>
    <li>
        <a href="">
            Andere Höfe
        </a>
    </li>
    <li>
        <a href="">
            Software
        </a>
    </li>
</ul>