{% extends 'base.html.twig' %}

{% trans_default_domain 'FOSUserBundle' %}

{% block body %}
    {% include 'homepage/navbar.html.twig' %}

    <div id="header" class="uk-cover-background small" style="background-image: url('/assets/img/headers/default.jpg');"></div>

    <div class="uk-container uk-container-center uk-margin-large-top uk-margin-large-bottom">
        <h1 class="uk-text-center uk-margin-bottom-remove">Mitglieder-Bereich</h1>
        <h2 class="uk-text-center uk-margin-bottom-remove uk-margin-top-remove uk-text-muted">Passwort zurücksetzen</h2>
    </div>

    <div class="grey section">
        <div class="uk-container-center" style="width: 300px;">
            {{ form_start(form, { 'action': path('fos_user_resetting_reset', {'token': token}) }) }}
            {{ form_row(form.plainPassword) }}
            <div class="uk-form-row">
                <button type="submit" class="uk-button uk-button-success uk-button-large uk-width-1-1">
                    {{ 'resetting.reset.submit'|trans }}
                    <i class="uk-icon-check"></i>
                </button>
            </div>
            {{ form_end(form) }}
        </div>
    </div>

    {% include 'homepage/footer.html.twig' %}
{% endblock %}
